<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"></div>
    </div>
</div>

<div class="container">
    <div class="hero-unit">
        <div id="rockets"></div>
    </div>
</div>

</body>
<script type="text/template" id="viewRockets">
    <h2>My rockets</h2>
    <button class="addOne btn btn-success btn-primary">add one</button>
    <button class="toJSON btn btn-info btn-primary">to JSON</button>
    <table class="table table-striped">
        <thead>
        <th data-sort="name">Name</th>
        <th data-sort="size">Size</th>
        <th data-sort="description">Description</th>
        <th data-sort="actions">Actions</th>
        </thead>
        <tbody class="rocketsList">
        </tbody>

    </table>
    <div class="rocketsTotal">
        Total items: <span class="totalItems">0</span>
        Total size: <span class="totalSize">0</span>
    </div>
    <pre class="jsonOut"></pre>
</script>

<script type="text/template" id="viewRocket">
    <td class="name" contenteditable="true"><%- name %></td>
    <td class="form-horizontal">
        <button data-rel="-10" class="changeSize btn btn-small btn-primary">-</button>
        <input class="size" type="number" value="<%- size %>" style="width: 40px;">
        <button data-rel="10" class="changeSize btn btn-small btn-success">+</button>
    </td>
    <td class="desc" contenteditable="true"><%- description %></td>
    <td>
        <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white">X</i></button>
    </td>
</script>


<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="rocketsModel.js"></script>
<script src="rocketView.js"></script>
<script src="rocketsView.js"></script>
<script src="main.js"></script>

</html>
